[color]
	ui = true
[core]
	filemode = false
	autocrlf = true
	editor = ~/editor.sh
[user]
	name = Thach Hoang
	email = thachhoang@users.noreply.github.com
[push]
	default = simple
[alias]
	b = branch
	co = checkout
	st = status
	ci = commit
	cm = commit -m
	cam = commit -am
	amend = commit --amend
	lg = log --decorate --oneline --stat --graph
	lg2 = log --decorate --graph --date=relative --all
	f = fetch -p
