[core]
	filemode = false
	autocrlf = true
[user]
	name = Thach Hoang
	email = thachhoang@users.noreply.github.com
[push]
	default = simple
[alias]
	b = branch
	co = checkout
	st = status
	ci = commit
	cm = commit -m
	cam = commit -am
	amend = commit --amend
	lg = log --decorate --oneline --stat --graph
